# Compute Instances Configuration Template
# Copy this file to compute.auto.tfvars and configure your instances

compute_instances = {
  # Instances in VPC-1
  "vpc-1-instance-a" = {
    instance_name           = "customer1-dev-web-server-a"
    network_key             = "vpc-1"
    subnet_name             = "customer1-dev-vpc-1-subnet-a"
    zone                    = "asia-south1-a"
    machine_type            = "e2-micro"
    disk_size_gb            = 20
    disk_type               = "pd-standard"
    additional_disks        = []
    enable_snapshots        = true
    snapshot_schedule       = "0 2 * * *"
    snapshot_retention_days = 7
    snapshot_schedule_id    = null
    deletion_protection     = false
    custom_tags             = ["web-server"]
    custom_labels           = { vpc = "vpc-1", subnet = "a" }
  }

  "vpc-1-instance-b" = {
    instance_name           = "customer1-dev-web-server-b"
    network_key             = "vpc-1"
    subnet_name             = "customer1-dev-vpc-1-subnet-b"
    zone                    = "asia-south1-b"
    machine_type            = "e2-micro"
    disk_size_gb            = 20
    disk_type               = "pd-standard"
    additional_disks        = []
    enable_snapshots        = false
    snapshot_schedule       = "0 2 * * *"
    snapshot_retention_days = 7
    snapshot_schedule_id    = null
    deletion_protection     = false
    custom_tags             = ["web-server"]
    custom_labels           = { vpc = "vpc-1", subnet = "b" }
  }

  # Instances in VPC-2
  "vpc-2-instance-a" = {
    instance_name           = "customer1-dev-app-server-a"
    network_key             = "vpc-2"
    subnet_name             = "customer1-dev-vpc-2-subnet-a"
    zone                    = "asia-south1-a"
    machine_type            = "e2-micro"
    disk_size_gb            = 20
    disk_type               = "pd-standard"
    additional_disks        = []
    enable_snapshots        = true
    snapshot_schedule       = "0 2 * * *"
    snapshot_retention_days = 7
    snapshot_schedule_id    = null
    deletion_protection     = false
    custom_tags             = ["app-server"]
    custom_labels           = { vpc = "vpc-2", subnet = "a" }
  }

  "vpc-2-instance-b" = {
    instance_name           = "customer1-dev-app-server-b"
    network_key             = "vpc-2"
    subnet_name             = "customer1-dev-vpc-2-subnet-b"
    zone                    = "asia-south1-b"
    machine_type            = "e2-micro"
    disk_size_gb            = 20
    disk_type               = "pd-standard"
    additional_disks        = []
    enable_snapshots        = false
    snapshot_schedule       = "0 2 * * *"
    snapshot_retention_days = 7
    snapshot_schedule_id    = null
    deletion_protection     = false
    custom_tags             = ["app-server"]
    custom_labels           = { vpc = "vpc-2", subnet = "b" }
  }
}
