# Firewall Policies managed by Security Team
# Each policy explicitly targets a VPC network by its key

firewall_policies = {
  "vpc-1-rules" = {
    network_key = "vpc-1"
    rules = [
      {
        name        = "allow-ssh-vpc-1"
        description = "Allow SSH to vpc-1"
        direction   = "INGRESS"
        ranges      = ["0.0.0.0/0"]
        target_tags = ["ssh"]
        allow = [
          {
            protocol = "tcp"
            ports    = ["22"]
          }
        ]
      },
      {
        name        = "allow-http-vpc-1"
        description = "Allow HTTP to vpc-1"
        direction   = "INGRESS"
        ranges      = ["0.0.0.0/0"]
        target_tags = ["http-server"]
        allow = [
          {
            protocol = "tcp"
            ports    = ["80"]
          }
        ]
      }
    ]
  }

  "vpc-2-rules" = {
    network_key = "vpc-2"
    rules = [
      {
        name        = "allow-icmp-vpc-2"
        description = "Allow ICMP to vpc-2"
        direction   = "INGRESS"
        ranges      = ["10.0.0.0/8"]
        allow = [{ protocol = "icmp" }]
      },
      {
        name        = "allow-app-vpc-2"
        description = "Allow internal app traffic on port 8080"
        direction   = "INGRESS"
        ranges      = ["10.1.0.0/16"]
        target_tags = ["app-server"]
        allow = [
          {
            protocol = "tcp"
            ports    = ["8080"]
          }
        ]
      }
    ]
  }
}
