# GKE Clusters Configuration Template
# Copy this file to gke.auto.tfvars and configure your clusters
# File will be auto-loaded by Terraform (no -var-file flag needed!)

gke_clusters = {
  # Example: Development GKE Cluster
  # Uncomment and configure as needed
  
  # "dev-cluster" = {
  #   region                  = "asia-south1"
  #   pods_ip_range_name      = "gke-pods"
  #   services_ip_range_name  = "gke-services"
  #   enable_private_cluster  = true
  #   enable_private_nodes    = true
  #   master_ipv4_cidr_block  = "172.16.0.0/28"
  #   node_pools = [
  #     {
  #       name         = "default-pool"
  #       machine_type = "e2-medium"
  #       min_count    = 1
  #       max_count    = 3
  #       disk_size_gb = 50
  #       auto_repair  = true
  #       auto_upgrade = true
  #     }
  #   ]
  #   workload_identity     = true
  #   enable_network_policy = true
  #   release_channel       = "REGULAR"
  #   custom_labels         = { environment = "dev" }
  # }
}
